<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhzQ7zeWusFo2APrlG8-Ea14lFOxVdkVY</string>
	<key>GCM_SENDER_ID</key>
	<string>918994796769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.randevum</string>
	<key>PROJECT_ID</key>
	<string>randevu-app-199bf</string>
	<key>STORAGE_BUCKET</key>
	<string>randevu-app-199bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918994796769:ios:85b38a686609ead0ff77a0</string>
</dict>
</plist>